a {
  text-decoration: none; }

#after-game-block {
  position: absolute;
  top: 300px;
  width: 640px;
}

#after-game-header {
  font-size: 2em;
  width: 100%;
  text-align: center;
  display: inline-block;
}

#after-game-content > * {
  display: inline-block;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

#after-game-content span {
  border: 1px solid #ffb649;
  padding: 0 6px;
}

body {
  color: #ffb649;
  background-image: url("../img/billiard-bg3.jpg");
  background-size: 100%;
  margin: 0;
}

canvas {
  position: absolute;
}

#canvas-container {
  height: 480px;
  margin: auto;
  margin-top: 80px;
  width: 640px;
}

#control-music {
  background-size: 115%;
  height: 100px;
  width: 100px;
  margin: -33px auto 0 auto;
}

#cue-img {
  display: none; }

footer {
  height: 40px;
}

.footer-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: green;
}

#footer-links *{
  color: #ffb649;
  margin-left:0.7%;
  height: 40px;
  line-height: 40px;
}

.hidden {
  display: none; }

.header-cont {
  background-color: green;
  padding-top: 0px;
}

.header-cont h1 {
  text-align: center;
  margin: 0;
}

.header-cont span{
  color:#00117D;
}

#main-nav {
  padding: 6px;
  margin: auto; }

#main-nav ul {
    font-size: 0;
    margin: 0;
    padding: 0 20px; }

#main-nav ul li {
      border: solid 1px black;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1rem;
      margin: 0 2px;
      text-align: center;
      width: calc(20% - 4px); }

#main-nav ul li a {
        color: #ffb649;
}

.mute {
  background-image: url("../img/unmute.png");
}

#nono_sucking_gif {
  display: none;
  position: absolute;
  left: 0;
  height: 200px;
}

#send{

}

.site-cont h1 {
  text-align: center;
  margin: 0;
}

#text {
  padding: 10px;
  margin: 20px auto 0px auto;
  background: rgba(0, 97, 27, 0.6);
  width: 58%;
}

#text ul {
  text-align: center;
}

#text > ul > li {
  margin:1% 0;
}

.unmute {
  background-image: url("../img/mute.png");
}

ul {
  list-style: none; }



th, td {
  border-bottom: 1px solid #ffb649;
}

tr:hover {background-color: rgba(0, 100, 40);}

th {
  background-color: rgba(0, 97, 27);
  color: #ffb649;
  height: 25px;
  border: 10px;
}

#table {
  padding: 10px;
  margin: 20px auto 0 auto;
  background: rgba(0, 97, 27, 0.6);
  width: 58%;
  text-align: left;
}

.center
{
text-align: center;
}

.center table
{
margin-left: auto;
margin-right: auto;
text-align: left;
}
